@media all and (max-width: 1460px) {
    .menu{
        background-color: blueviolet;
    }
}

@media all and (max-width: 900px) {
    .menu, .banner{
        width: 100%;
        float: none;
    }
    .content{
        height: 200px;
        margin: 0;
    }
}